# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Spyder Project Files
.spyproject/

#API key
Src/StreetViewAPI/ggapikeydoc.py

# All csv items
*.csv

#Images
*.png
*.jpg
*.jpeg

